/* Lora Regular 400 al resto de la página */
body {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: normal;
}
  
  /* Lora SemiBold 600 Italic para titulos y encabezados  */
h2, h3, h4, h5, h6 {
font-family: 'Lora', serif;
font-style: italic;
font-weight: 600;
}
/* Estilo único para h1 */
h1 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 40px; /* Más grande que otros encabezados */
}
/* Love ligth solo para letra del logo */
#titulo-logo {
    font-family: 'Love Light', sans-serif;
    font-weight: normal; 
    font-size: 35px;
}

#main-navbar{
    background-color: #AB5A8C !important;
}
#secondary-navbar{
    background-color: #EBB2DC !important;
}
#general-footer{
    background-color: #AB5A8C;
}
#main-title{
    text-align: center;
    margin: 10px;
}

.footer-content{
    text-align: left;
}
.footer-content-title{
    font-size: x-large;
}
.footer-link{
    color: white;
    text-decoration: none;
}
.github-btn{
    background-color: #AB5A8C;
}
.github-btn:hover{
    background-color: #AB5A8C;
}
.in-btn{
    background-color: #EBB2DC;
}
.in-btn:hover{
    background-color: #EBB2DC;
}
.star-product{
    color: white !important;
    background-color: #CDA1EE;
}
.main-nav-link{
    color: white;
    text-decoration: underline;
    font-size: x-large;
}
.secondary-nav-dropmenu{
    color: white !important;
    text-decoration: none;
    font-size: x-large;
}